@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
nav{
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #211f1e;
    color: red;
}
body{
    background-image: url('./wp2757874-wallpaper-gif.gif')
}
footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #211f1e;
    color: whitesmoke;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactList {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.contactList li a {
    color: grey;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.3s all;
}

.contactList li a:hover {
    font-size: 18px;
    color: red;
    transition: 0.3s all;
}

.contactBox {
    width: 70%;
}

#copyrights {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}